body{
	font-family: 'Source Sans Pro';
	/*font-size: 22px;*/
}

li{
	float: left;
	display: block;
	margin-right: 30px;
}

a{
	color: #E65800;
}
/*p{
	text-align: center;
}
*/
.logo{
	text-align: center;
}


.menu-primary-container{
	margin-top: 100px;
}

ul#menu-primary{
	float: left;
	padding-left: 0px;
}

.bottom-spacer{
	margin-bottom: 20px;
}

.img-responsive{
	max-width: 100%;
	text-align: center;
}

.footer{
	background-color: #fff;
	color: black;
	height: 200px;
	max-width: 100%;
	padding: 20px;
}

.footer p{
	text-align: left;
	bottom: 20px;
	position: absolute;
}

.pageTitle{
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.aboutUS p{
	text-align: left;
}

carousel-inner > .item > img{
	margin: 0 auto;
	width: auto;
	height: 500px;
}
img.first-slide {
    width: 50%;
    margin: 0 auto;

}





